#listaContatos {
    margin: 50px 30px;
}

#table-list {
    margin-top: 20px;
}
label {
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
    flex-direction: row;
    margin: 15px;
    margin-top: 1px;
}

form {
    background: rgba(27, 27, 50);
    padding: -0.5rem 0.625rem;
    border-radius: 0.25rem;
    display: block;
    margin-top: 0em;
    background:  rgba(67, 76, 82, 0.8);

}

input {
    margin: 0px 30px;
    width: 90%;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;   
}


.form-group {
    width: 600px;
    margin: 20px;
    padding: 0.25rem;
}

.submit-button {
    margin: 15px;
    width: 95%;
    padding: 1rem;
    border-radius: 5px;
    border: rgb(149, 150, 149);
    background: rgb(156, 156, 156);
    cursor: pointer;
    font-size: 18px;
}

h4 {
    margin-top: 15px;
}
